body{

}

#banner {
    width: 100%;
}

.principal{
    background:#cccccc;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}
    
p {
     text-align: center;
 }

 #MISSAO{
    font-size: 20px;
 }

 EM STRONg{
    COLOR: #ff0000 ;
 }
    
 .itens{
     font-size: italic
 }

 .BENEFICIOS {
     BACKGROUND: #FFFFFF;
     padding: 20px;   
 }

 ul {
     display: inline-block;
     vertical-align: top;
     width: 20%;
     margin-right: 15%;
 }

 .imagembeneficios {
     width: 50%;
 }